*.DS_Store
*.o
*.a
*~
*.cache
*.status
config.h
*.log
*.aux
*.dvi
*.toc
*.ps
AST.sh
clean-test
*/.deps/*.Po
cec-strlxml
cec-xmlstrl
cec-expandmodules
cec-dismantle
cec-astgrc
cec-grcdot
cec-grcpdg
cec-smblif
cec-grcsim
cec-grcopt
cec-blifutil
cec-pdgblif
cec-v5-cmain
cec-grcc2
cec-pdgccfg
cec-eec
cec-scfgc
cec-grc3val
cec-grcbal
cec-vm
cec-vm-wrapper
